/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 92, 240);
}

.navbar > img {
  height: 90%;
  border-radius: 17px;
  margin-left: 30px;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  gap: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(136, 152, 192, 0.5);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 3px;
}

.navbar > h1 {
  margin-right: 30px;
}

/* Contacts Page */
table {
  border: 1px solid black;
  margin: 50px auto;
  min-width: 800px;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  font-size: 20px;
}

tr{
  height: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#first{
  height: 50px;
  background-color: rgb(47, 106, 255);
  color: white;
  font-size: 30px;
}