/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 92, 240);
}

.navbar > img {
  height: 90%;
  border-radius: 17px;
  margin-left: 30px;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  gap: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(136, 152, 192, 0.5);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 27px;
  padding: 3px;
}

.navbar > h1 {
  margin-right: 30px;
}

/* Contacts Page */
table {
  border: 1px solid black;
  margin: 50px auto;
  min-width: 800px;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  font-size: 20px;
}

tr {
  height: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#first {
  height: 50px;
  background-color: rgb(47, 106, 255);
  color: white;
  font-size: 30px;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

td {
  color: #4b4b4b;
}

table button {
  margin-left: 50px;
  color: white;
  font-size: 20px;
  border: 0;
  background-color:rgba(136, 152, 192, 0);
}

table input{
  padding-left: 10px;
}

#relation{
  width: 100px;
  height: 30px;
  font-size: 17px;
}

svg {
  cursor: pointer;
}

svg:hover {
  color: #898989;
}

/* Add Contact Page */

.add-contact{
  margin: 50px;
}

.add-contact h1{
  margin: 40px;
  color: rgb(47, 106, 255);
}

.add-contact form{
  font-size: 20px;
  margin: 40px;
  color: rgb(47, 106, 255);
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
  /* border: 2px solid rgb(47, 106, 255); */
  padding: 20px;
  border-radius: 20px;
  background-color: #eeeeee;
}

.add-contact input{
  width: 250px;
  padding-left: 10px;
  height: 25px;
}

#last-input{
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  color: white;
  padding: 0;
  height: 30px;
  background-color: rgb(47, 106, 255);
  border: 0;
  border-radius: 15px;
  font-size: 18px;
}

#last-input:hover{
  background-color: rgb(34, 92, 240);
}

.add-contact select{
  text-align: center;
  width: 100px;
}